@charset "UTF-8";


body {
	margin: 0;
}

.logo {

	text-align: center;
	margin-top: 80px;

}

.logo img {
	width: 200px;
	height: 200px;
	object-fit: contain;

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-table {

	text-align: center;
}

.error-msg {

	text-align: center;
	color: red;
}

input {
	text-align: center;
}


.login-btn{
	
	text-align: center;
}

.btn {

	text-align: center;
	display: inline-block;
	border-radius: 5%;
	cursor: pointer;
	transition: .3s;
	box-shadow: 2px 2px 1px #666666;
	background    : #ffffff;
	width: 169px;
}

.btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}

a{
	text-decoration: none;
	color: rgb(128, 128, 128);
}

.user-regist {

	text-align: center;
	margin-top: 8px;
}