@charset "utf-8";

body {
	margin: 0;
}

h2 {
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 600px;
	
}


table {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-collapse: collapse;
}



td {

	text-align: center;
}

tr:nth-child(odd) {

	background-color: rgba(193, 193, 191, 0.4);

}

.btn {

	text-align: center;
	display: inline-block;
	border-radius: 5%;
	cursor: pointer;
	transition: .3s;
	box-shadow: 2px 2px 1px #666666;
	background: rgb(255, 255, 255);
	padding: 8px;
}

.btn:hover {
	box-shadow: none;
	/* カーソル時の影消去 */
	opacity: 1;
	/* カーソル時透明度 */
}

.btn {
	text-align: center;
}

.edit-btn {
	text-align: center;
	margin-top: 30px;
}


@media (max-width: 600px) {

	.header-right {
		display: none;
	}

	#modal {

		background-color: #fff;
		width: 400px;
		height: 400px;
		padding: 20px;
		border-radius: 4px;
		position: absolute;
		top: -100px;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: relative;


	}

	.detail-table th,
	.detail-table td {

		display: block;

	}



	.log-regist-table td:nth-child(2) {

		display: inline;
	}

	.log-regist-table td:nth-child(3) {

		display: inline;
	}


	.timeLogList {
		border: 1px solid #5e696c;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		border-collapse: collapse;
	}

	.detail-table {
		border: 1px solid #5e696c;


		width: 80%;
		border-collapse: collapse;
	}

	.log-regist-table {
		border: 1px solid #5e696c;


		width: 70%;
		border-collapse: collapse;
	}

	.header-right {

		top: 0;
		left: 300px;
		right: 220px;
		position: relative;
	}
	}