@charset "utf-8";

body {
	margin: 0;
}

h2 {
	
	text-align: center;
}
.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

table {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-collapse: collapse;
}



td {

	text-align: center;
}

tr:nth-child(odd) {

	background-color: rgba(193, 193, 191, 0.4);

}


.detail-btns {
	text-align: center;
	margin-top: 30px;

}

.log-edit-btn {
	
	margin-bottom: 10px;
}

a {
	text-align: center;
}