@charset "utf-8";

body {
	margin: 0;
}

header {

	display: flex;
}

header img {

	height: 56px;
	display: inline-block;
}


.header-right {

	margin-left: auto;
	margin-top: 10px;
}

.sp-menu {

	margin-left: auto;
}

.sp-menu #open {

	font-size: 32px;
	line-height: 56px;
	cursor: pointer;
}

.sp-menu #open.hide {

	display: none;
}

.list {

	opacity: 0;
	pointer-events: none;
}

.list.show {
	opacity: 1;
	pointer-events: auto;
}

#open {

	cursor: pointer;
}

.user {}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container h2 {

	text-align: center;
	justify-content: center;

}




.day {

	display: flex;
	gap: 8px;
	justify-content: center;
}


.day form {

	line-height: 74px;

	display: block;
}

input[type=submit] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #000;


}



input[type=submit]:hover {

	background-color: #5e696c;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button:hover {

	background-color: #5e696c;
}

.log {
	display: flex;
	flex-direction: column;
	justify-content: center;


}

.logo img {
	width: 150px;
	height: 46px;
	object-fit: contain;

}


.log form {
	display: flex;
	justify-content: center;
}

.timeLogList {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-collapse: collapse;
}
.detail-table{
	border: 1px solid #5e696c;
	
	
	width: 50%;
	border-collapse: collapse;
}



td {

	text-align: center;
}

tr:nth-child(odd) {

	background-color: rgba(193, 193, 191, 0.4);

}

#category-add-btn {
	text-align: center;
	margin-top: 30px;
}



.log-regist-btn {
	
	line-height: 78px;
}


#mask {

	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#modal {

	background-color: #fff;
	width: 600px;
	height: 400px;
	padding: 20px;
	border-radius: 4px;
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: relative;


}

.hidden {

	display: none;
}

#modal>h3 {

	text-align: center;
}

/*#regist-modal {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	flex-direction: column;*/
/*}*/


/*.btn {*/

/*	display: flex;*/
/*	gap: 50px;*/
/*	justify-content: center;*/
/*	position: absolute;*/
/*	bottom: 20px;*/
/*	left: 0;*/
/*	right: 0;*/
/*	cursor: pointer;*/



/*}*/


#close {

	cursor: pointer;

}

@media (max-width: 600px) {

	.header-right {
		display: none;
	}
	
}

@media (min-width: 601px) {

	.sp-menu {
		display: none;
	}

}