@charset "UTF-8";

body {
	margin: 0;
}

.logo {

	text-align: center;
	margin-top: 80px;

}

.logo img {
	width: 200px;
	height: 200px;
	object-fit: contain;

}


.anounce {

	text-align: center;
	margin-bottom: 16px;
}


.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-regist-table {

	text-align: center;
}

.error-msg{
	
	color: red;
}

input {
	text-align: center;
}


.user-regist-btn {

	text-align: center;
	margin-top: 8px;
}

.user-regist {

	text-align: center;
	margin-top: 8px;
}