<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<h2>タスク登録</h2>

	<form th:action="@{/category-regist}" method="POST" th:object="${categoryRegistForm}">
		<input type="hidden" th:field="*{logId}">
		<table class="detail-table">
			<tr>
				<td class="guide">【ログ名】</td>
				<td>
					<input type="text" th:field="*{categoryName}"><br>
					<div th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="error-msg">
					</div>
				</td>

			</tr>


		</table>

		<input type="submit" value="登録" class="btn">

	</form>

	<br>
	<form th:action="@{/category-edit}" method="POST" th:object="${logDetail}">
		<input type="hidden" th:field="*{logId}">
		<input type="submit" value="戻る" class="btn">
	</form>

</body>

</html>