<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログ詳細</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h2>タスク詳細</h2>

	<!-- ------------タスク詳細---------------- -->
	<table class="detail-table" th:object="${logDetail}">
		<tr>
			<td class="guide">【カテゴリー名】</td>
			<td th:text="*{category.categoryName}"></td>
			<td>
				<form th:action="@{/category-list}" method="POST" th:object="${logDetail}">
					<input type="hidden" th:field="*{logId}">
					<input type="submit" value="カテゴリー編集" class="btn">
				</form>
			</td>
		</tr>
		<tr>
			<td class="guide">【開始時間】</td>
			<td th:text="*{startTime}"></td>
		</tr>
		<tr>
			<td class="guide">【終了時間】</td>
			<td th:text="*{endTime}"></td>
		</tr>

	</table>
	<div th:if="${correctId != null}">
		<form th:action="@{/time-show-edit}" method="POST" th:object="${logDetail}">
			<input type="hidden" th:field="*{logId}">
			<input type="hidden" name="categoryId" th:value="*{category.categoryId}">
			<input type="hidden" th:field="*{startTime}">
			<input type="hidden" th:field="*{endTime}">
			<input type="submit" value="編集" class="btn">
		</form>
	</div>

	<form th:action="@{/log-remove}" method="POST" th:object="${logDetail}">
		<input type="hidden" th:field="*{logId}">
		<input type="hidden" name="toDay" th:value="${timeRegistForm.toDay}">
		<input type="submit" value="削除" class="btn">
	</form>
	<br>
	<br>
	<a th:href="@{/top}">トップページに戻る</a>
</body>

</html>