<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<!-- ------------検索---------------- -->
	<div class="logo">
		<img th:src="@{../images/logo.png}">
	</div>


	<div class="container">
		
	
		<table class="login-table">
	<div th:if="${message != null}" th:text="${message}" class="error-msg"></div>
	<form th:action="@{/login}" method="post">
			<tr>
				<td><input type="text" name="username" placeholder="ユーザID" autocomplete="off"></td>
			</tr>
			<tr>
				<td><input type="password" name="password" placeholder="パスワード" autocomplete="off"></td>
			</tr>
		</table>
		<br>
		<div class="login-btn"><input type="submit" value="ログイン" class="btn"></div>


	</form>
		<div class="user-regist">
			<span>アカウントをお持ちでない場合は</span><br>
			<span>こちらから</span>
			<a th:href="@{/show-user-regist-form}">ユーザ登録</a>
			<span>してください。</span>
		</div>
	</div>






</body>

</html>