<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- ------------検索---------------- -->
	<h2>ログイン</h2>

	<div>
		<form th:action="@{/show-user-regist-form}" method="GET">
			<input type="submit" value="ユーザ登録" class="btn">
		</form>
	</div>

	<div th:if="${message != null}" th:text="${message}" class="error-msg"></div>
	<br>
	<form th:action="@{/login}" method="post">
		<table class="login-table">
			<tr>
				<td class="guide">【ユーザID】</td>
				<td><input type="text" name="username" ></td>
			</tr>
			<tr>
				<td class="guide">【パスワード】</td>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
		<br>
		<input type="submit" value="ログイン" class="btn">
	</form>






</body>

</html>