<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<h2>タスク登録</h2>

	<form th:action="@{/time-regist}" method="POST" th:object="${timeRegistForm}">
		<input type="hidden" th:field="*{maxDay}">
		<input type="hidden" th:field="*{toDay}">
		<table class="detail-table">
			
			<tr>
				<td class="guide">【ログ名】</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="category : ${categoryList}" th:value="${category.categoryId}"
							th:text="${category.categoryName}" th:selected="${category.categoryId == categoryId}">
						</option>
					</select>
					<div th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" class="error-msg"></div>
				</td>
			</tr>
			<tr>
				<td class="guide">【開始時間】</td>
				<td>
					<input type="datetime-local" name="startTime" th:value="*{maxDay}"><br>
					<div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="error-msg"></div>
					<div th:if="${#fields.hasErrors('maxDay')}" th:errors="*{maxDay}" class="error-msg"></div>
				</td>
			</tr>
			<tr>
				<td class="guide">【終了時間】</td>
				<td>
					<input type="datetime-local" th:field="*{endTime}"><br>
					<div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="error-msg"></div>
				</td>
			</tr>

		</table>

		<input type="submit" value="登録" class="btn">

	</form>

	<br>
	<a th:href="@{/top}">トップページに戻る</a>
	

</body>

</html>