<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TimeLog</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- ------------検索---------------- -->
<h2>TimeLog</h2>


<div th:if="${timeLogList} != null">
	<h2>タイムログ一覧</h2>
	
	
	<form th:action="@{/time-show-regist}" method="POST">
		<input type="submit" value="タイムログ登録" class="btn">
	</form>

	<table class="timeLogList">
		<tr>
			<th>カテゴリー</th><th>開始時間</th><th>終了時間</th>
		</tr>
		<tr th:each="time : ${timeLogList}">
			<td th:text="${time.categoryName}"></td>
			<td th:text="${time.startTime}"></td>
			<td th:text="${time.endTime}"></td>
			
			
		</tr>

	</table>
</div>




</body>
</html>